@font-face {
  font-family: 'Lato-Black';
  src: url('../../fonts/Lato-Black/Lato-Black.eot');
  src: url('../../fonts/Lato-Black/Lato-Black.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Lato-Black/Lato-Black.woff') format('woff'),
  url('../../fonts/Lato-Black/Lato-Black.ttf') format('truetype'),
  url('../../fonts/Lato-Black/Lato-Black.svg#Lato-Black') format('svg');
}
@font-face {
  font-family: 'Lato-Bold';
  src: url('../../fonts/Lato-Bold/Lato-Bold.eot');
  src: url('../../fonts/Lato-Bold/Lato-Bold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Lato-Bold/Lato-Bold.woff') format('woff'),
  url('../../fonts/Lato-Bold/Lato-Bold.ttf') format('truetype'),
  url('../../fonts/Lato-Bold/Lato-Bold.svg#Lato-Bold') format('svg');
}

@font-face {
  font-family: 'Lato-Light';
  src: url('../../fonts/Lato-Light/Lato-Light.eot');
  src: url('../../fonts/Lato-Light/Lato-Light.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Lato-Light/Lato-Light.woff') format('woff'),
  url('../../fonts/Lato-Light/Lato-Light.ttf') format('truetype'),
  url('../../fonts/Lato-Light/Lato-Light.svg#Lato-Light') format('svg');
}
@font-face {
  font-family: 'Lato-Medium';
  src: url('../../fonts/Lato-Medium/Lato-Medium.eot');
  src: url('../../fonts/Lato-Medium/Lato-Medium.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Lato-Medium/Lato-Medium.woff') format('woff'),
  url('../../fonts/Lato-Medium/Lato-Medium.ttf') format('truetype'),
  url('../../fonts/Lato-Medium/Lato-Medium.svg#Lato-Medium') format('svg');
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../../fonts/Lato-Regular/Lato-Regular.eot');
  src: url('../../fonts/Lato-Regular/Lato-Regular.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Lato-Regular/Lato-Regular.woff') format('woff'),
  url('../../fonts/Lato-Regular/Lato-Regular.ttf') format('truetype'),
  url('../../fonts/Lato-Regular/Lato-Regular.svg#Lato-Regular') format('svg');
}

@font-face {
  font-family: 'Rodchenko-Condensed';
  src: url('../../fonts/Rodchenko-Condensed/Rodchenko-Condensed.eot');
  src: url('../../fonts/Rodchenko-Condensed/Rodchenko-Condensed.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Rodchenko-Condensed/Rodchenko-Condensed.woff') format('woff'),
  url('../../fonts/Rodchenko-Condensed/Rodchenko-Condensed.ttf') format('truetype'),
  url('../../fonts/Rodchenko-Condensed/Rodchenko-Condensed.svg#Rodchenko-Condensed') format('svg');
}

@font-face {
  font-family: 'Rodchenko-CondensedBold';
  src: url('../../fonts/Rodchenko-CondensedBold/Rodchenko-CondensedBold.eot');
  src: url('../../fonts/Rodchenko-CondensedBold/Rodchenko-CondensedBold.eot?#iefix') format('embedded-opentype'),
  url('../../fonts/Rodchenko-CondensedBold/Rodchenko-CondensedBold.woff') format('woff'),
  url('../../fonts/Rodchenko-CondensedBold/Rodchenko-CondensedBold.ttf') format('truetype'),
  url('../../fonts/Rodchenko-CondensedBold/Rodchenko-CondensedBold.svg#Rodchenko-CondensedBold') format('svg');
}
