@import "components/reset";
@import "components/var";
@import "components/mixin";
@import "components/buttuns";
@import "../../libs/slick/slick";
@import "../../libs/animate/animate";
@import "../../libs/slick/slick-theme";
@import "../../libs/fancybox/jquery.fancybox";
@import "../../libs/form-styler/form-styler";
@import "../../libs/tabs/tabs-style";
@import "../../libs/dropzone/dropzone";



.clearfix{
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

body{
  min-width: $min-width;
  font-family: $base-font-family;
  background: $base-bg;
  line-height: $base-line-height;
  min-height: 100vh;
  margin: 0;
  background: #F2F2F2;
  padding: 0;
}
.container{
  min-width: $min-width;
  width: $max-width;
  margin:0 auto;
  padding: 0;
}
.main-wrapper{
  padding: 0 0 0 0;
  min-width: $min-width;
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}


.header{
  background: #212020;
  position: relative;
  z-index: 2;
}

.header-nav{
  display: flex;
  align-items: center;
}
.user-nav{
  a{
    display: inline-block;
    vertical-align: middle;

    font-size: 13px;
    color: #949393;
    font-family: $bold;
    line-height: 50px;
    transition: all .2s;
    &:hover{
      color: #ffffff;
    }
    span{
      display: block;
    }
    &:hover{
      span{
        animation: anim-adrian-white 0.2s forwards;
      }
    }
    overflow: hidden;
    +a{
      margin-left: 25px;
    }

  }
  margin-left: auto;
}
.menu-list{
  display: flex;
  align-items: center;
  li{
    position: relative;
    display: flex;
    align-items: center;
    +li{
      &:before{
        content: '/';
        margin:0 10px;
        color: #3a3a3a;
        font-size: 14px;
      }
    }
    a{
      display: block;
      font-size: 14px;
      color: #949393;
      font-family: $bold;
      line-height: 50px;
      transition: all .2s;


      span{
        display: block;
      }
      &:hover{
        span{
          animation: anim-adrian-white 0.2s forwards;
        }
      }
      overflow: hidden;


      &:hover{
        color: #ffffff;
      }
    }
  }
}
.category-sub-menu{
  ul{
    a{
      transition: all .2s;
      overflow: hidden;
      &:hover{

        span{
          animation: anim-adrian-white 0.2s forwards;
        }
      }
      span{
        display: block;
      }
    }
  }
}
.header-logo{
  display: block;
  width: 115px;

}
.header-info{

  background: #ffffff;
  position: relative;
  z-index: 2;
  &__box{
    display: flex;
    padding:45px 0px;
    border-bottom: 1px solid #EBEBEB;
  }
}
.header-contacts{
  display: flex;
  align-items: center;
  margin-left: auto;

  &__my-btn-wrap{
    margin-left: 40px;
    .my-btn{
      width: 200px;
    }
  }
  &__right{
    padding-left: 40px;
    margin-left: 40px;
    border-left: 1px solid #EBEBEB;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
  }
  &__info{
    font-family: $black;
    color: #575756;
    text-transform: uppercase;
    font-size: 14px;
    text-align: right;
    span{
      display: block;
      color: #999999;
      font-size: 13px;
      font-family: $bold;
      padding-top: 5px;
    }
  }
}
.phone-number{
  font-size: 32px;
  color: #575756;
  font-family: $rodchenko-bold;
}

.footer-top{
  &__menu-list{
    justify-content: center;
  }
}
.footer-logo{
  a{
    display: block;
    width: 115px;
  }
}
.footer{
  margin-top: auto;
  background: #1A1919;
  &__box{
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex;
  }
}
.footer-top{
  background: #212020;
}
.footer-nav{
  display: flex;
  padding-left: 60px;
  &__list+&__list{
    margin-left: 100px;
  }
  &__list{
    list-style: none;
    li{
      a{
        font-size: 14px;
        color: $orange;
        font-family: $base-font-family;
        line-height: 14px;
        display: block;
        margin-bottom: 20px;
        span{
          display: block;
        }
        &:hover{
          span{
            animation: anim-adrian-white 0.2s forwards;
          }
        }
        overflow: hidden;
      }
    }
  }
}
.footer-contacts{
  width: 265px;
  margin-left: auto;
  text-align: right;

  &__phone{
    font-size: 32px;
    color: #ffffff;
    font-family: $rodchenko-bold;
    text-align: right;
  }
  &__info{
    padding-top: 5px;
    font-size: 14px;
    color: #999999;
    font-family: $bold;
    text-transform: uppercase;
    text-align: right;
    span{
      padding-top: 5px;
      display: block;

    }
  }
  .my-btn-wrap{
    padding-top: 15px;
  }
  .my-btn{
    width: 100%;

  }
}
.copyright{
  padding: 25px 0;
  border-top: 1px solid #212020;
  display: flex;
  &__text{
    font-size: 12px;
    color: #555555;
    font-family: $bold;
    text-transform: uppercase;
  }
}
.creator{
  display: flex;
  margin-left: auto;
  &__text{
    font-size: 12px;
    color: #555555;
    font-family: $bold;
    text-transform: uppercase;
  }
  &__img{
    margin-left: 15px;
    a{
      width: 15px;
      display: block;
      rect,svg,g{
        fill: #555555 !important;
      }
    }
  }

}
.soc-links{
  margin-left: auto;
  ul{
    list-style: none;
    display: flex;
    align-items: center;
    li{
      +li{
        margin-left: 20px;
      }
      a{
        width: 15px;
        height: 15px;
        display: block;
      }
    }
  }
}
.custom-title{
  font-size: 54px;
  line-height: 1;
  font-family: $rodchenko;
  &.white{
    color: #ffffff;
  }
}

.price-banner{
  margin: 20px 0;
  position: relative;
  &__box{
    padding-left: 60px;
    padding-top: 50px;
    min-height: 300px;
    background: url("../../img/image1.jpg") no-repeat center/cover;

    &.banner2{
      background: url("../../img/image2.jpg") no-repeat center/cover;
    }
  }
  &__text{
    padding-top: 25px;
    padding-bottom: 20px;
    max-width: 400px;
    font-size: 16px;
    color: #ffffff;
    line-height: 19px;
    font-family: $medium;
  }
}
.category-nav{
  background: #ffffff;
  position: relative;
  z-index: 2;
}
.category-nav-list{
  list-style: none;

  a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
  }
 
  &__item{
    width: 20%;
    float: left;
    &:hover{
      .category-nav-list__link{

      }
    }
  }
  &__item.active{
    .category-nav-list__link{
    }
  }
  &__link{
    color: #3f3e3d;
    font-size: 14px;
    display: block;
    text-transform: uppercase;
    font-family: $bold;
    text-align: center;
    padding: 20px 0;
    min-height: 70px;
    span{
      font-size: 11px;
      color: #afafaf;
      display: block;
    }
  }
}
.catalog-top-info{
  &__title{
    font-family: $rodchenko;
    font-size: 64px;
    color: #575756;
    line-height: 52px;
    .price-info{
      border-bottom: 2px solid #575756;
      color: $orange;
      margin-bottom: 10px;
      display: inline-block;
    }
    .pad-elem{
      border-bottom: none;
      color: #575756;
      margin:0 15px;
    }
  }
  &__desc{
    padding-top: 20px;
    color: #606060;
    font-size: 16px;
    line-height: 20px;
    font-family: $medium;
    max-width: 480px;
  }
  &__my-btn-wrap{
    padding-top: 25px;
  }
}
.catalog{


  &__content{

    position: relative;
  }
}
.category-grid{
  margin:0 -10px;
  &_column{
    margin: 0;
    .category-grid__item{
      width: 100%;
      padding: 0;
    }
  }

  &__item{
    width: 25%;
    float: left;
    padding:0 10px;
    margin-bottom: 20px;

    
    &.main{
      width: 50%;
      .category-grid__one{
        height: 580px;
      }
      .category-grid__img{
        height: 520px;
        padding-top: 50px;
        img{
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }
      }
    }
  }
  &__one{
    text-align: center;
    display: block;
    background: #fff;
    width: 100%;
    height: 280px;
    color: #575756;
    font-size: 19px;
    font-family: $rodchenko-bold;
    text-transform: uppercase;
    letter-spacing: 2px;

  }
  &__img{
    height: 220px;
    text-align: center;
    display: flex;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    img{
      width: 100%;
      height: 100%;
      object-fit: scale-down;
    }
  }
  &__name{

  }
}

.user-info{
  &__name{
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    color: #575756;
    font-family: $bold;
    padding-left: 20px;
  }
  &__img{
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.reviews-section{
  margin-bottom: 20px;
  &__content{
    background: #ffffff;
    padding: 60px;
  }
}

.rev-item{
  width:  calc(50% - 30px);
  float: left;


  &:nth-child(2n){
    float: right;
  }

  &__custom-link{
    padding-top: 45px;
  }
  &__text-block{
    padding-top: 35px;
  }
}
.text-block{
  color: #606060;
  font-size: 16px;
  line-height: 28px;
  &_small{
    font-size: 14px;
    line-height: 18px;
  }
  ul{
    list-style-position: inside;
    li{
      font-family: $bold;
      +li{
        margin-top: 15px;
      }
    }
  }
  p+p{
    margin-top: 30px;
  }
  p+ul{
    margin-top: 30px;
  }
  ul+p{
    margin-top: 30px;
  }
  &__title{
    font-size: 16px;
    line-height: 28px;
    font-family: $bold;
    color: #575756;
  }
  a{
    margin:0 2px;
    color: $orange;
    border-bottom:1px solid $orange;
    transition: $default-transition;
    &:hover{
      border-bottom:1px solid transparent;
    }
  }
  span{
    font-family: $bold;
  }
}
.custom-link{
  a{
    display: inline-block;
    font-size: 18px;
    color: $orange;
    text-transform: uppercase;
    font-family: $rodchenko-bold;
    position: relative;
    letter-spacing: 2px;
    padding: 3px 0;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 2px;
      background: #EAEAEA;
    }
  }
}

.our-equipment{
  margin-bottom: 20px;
  &__content{
    
  }
  
}
.equipment-info{
  background: #ffffff;
  padding: 60px;

  &__list-title{
    font-family: $bold;
  }

  &__content{
    padding-top: 25px;
  }


  &__list{
    ul{
      width: 100%;
      max-width: 430px;
      list-style: none;
      padding-top: 30px;
      li{
        float: left;
        width: 50%;
        color: #606060;
        font-size: 16px;
        line-height: 1;
        padding-left: 23px;
        position: relative;
        margin-bottom: 25px;
        &:before{
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: $orange;
          position: absolute;
          left: 0;
          top: 5px;
        }

      }
    }
  }
}
.my-title{
  font-size: 54px;
  color: #575756;
  font-family: $rodchenko;
  line-height: 47px;

  &.big{
    font-size: 64px;
  }
  &.center{
    text-align: center;
  }

}
.equipment-info-item{
  width:  calc(50% - 30px);
  float: left;


  &:nth-child(2n){
    float: right;
  }
}


.equipment-slider{
  margin-top: 20px;
  &__slide{
    width: 280px;
    margin-right: 0px;
    padding:0 10px;
  }

  .slick-dots{
    position: relative;
    display: flex !important;
    li{
      margin: 0;
      width: 100%;
      height: 2px;
      button{
        margin: 0;
        height: 2px;
        padding: 0;
        width: 100%;
        background: #EAEAEA;
        transition: all .3s;
        &:before{
          display: none;
        }
      }
    }
    li.slick-active{
      button{
        background: $orange;
        transition: all .3s;
      }
    }
  }

  .slick-prev,.slick-next{
    width: 40px;
    height: 50px;
    z-index: 2;
    box-shadow: 0 0 35px 0px rgba(0, 0, 0, 0.2);
    &:before{
      display: none;
    }
  }
  .slick-prev{
    left: -20px;
    background: $orange url("../../img/svg/white-left.svg") no-repeat center;
    background-size: 10px;
  }
  .slick-next{
    right: -20px;
    background: $orange url("../../img/svg/white-right.svg") no-repeat center;
    background-size: 10px;
  }
}


.equipment-item{
  display: block;
  position: relative;
  background: #FCFCFC;
  &__img{
    position: relative;
    height: 280px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__name{
    padding: 30px;
    padding-top: 25px;
    padding-bottom: 10px;
    color: #818181;
    font-size: 16px;
    height: 110px;
  }
}
.detail-info{
  margin-top: 30px;

  &__item{
    margin-bottom: 20px;
    background: #ffffff;
    padding: 60px;
    float: left;
    width:calc(50% - 10px);

    min-height: 535px;
    position: relative;
    padding-bottom: 100px;
    &:nth-child(2n){
      float: right;
    }
  }
  &__custom-link{
    padding-top: 0;
    position: absolute;
    left: 60px;
    bottom: 60px;
  }
}
.sub-title{
  font-family: $medium;
  font-size: 16px;
  line-height: 24px;
  color: #818181;

}

.pay-info{
  &__tab-nav{
    padding-top: 40px;
    padding-bottom: 15px;
    li{
      display: inline-block;
      vertical-align: middle;
      a{
        width: 45px;
        height: 45px;
        display: block;
        padding: 5px;
        transition: all .2s;
        img{
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        &:hover{
          background:#F2F2F2;
        }
      }
      &.active{
        a{
          background: #F2F2F2;
        }
      }
      +li{
        margin-left: 35px;
      }
    }
  }
}
.short-advantages{
  margin-bottom: 20px;
  
  &__content{
    padding: 60px;
    background: #ffffff;
    display: flex;
    align-items: center;
  }
  &__item{
    float: left;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
  }
  &__item+&__item{
    border-left: 1px solid #F2F2F2;
  }
  &__title{
    font-size: 44px;
    line-height: 48px;
    color: $orange;
    font-family: $rodchenko;
    span{
      margin:0 10px;
      color: #575756;
      font-size: 24px;
    }
  }
  &__desc{
    color: #818181;
    font-size: 16px;
    line-height: 18px;
    padding-top: 10px;
  }
}
.category-sub-menu{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 70px solid transparent;

  top: -9999px;
  opacity: 0;
  transition: opacity .2s;

  &__box{
    background: $orange;

    ul{
      list-style: none;
      li{
        display: inline-block;
        vertical-align: middle;
        +li{
          margin-left: 30px;
        }
        a{
          line-height: 65px;
          display: block;
          font-size: 14px;
          text-transform: uppercase;
          font-family: $bold;
          color: #ffffff;
          transition: all .2s;
          &:hover{
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
  }
}
.category-parent{
  &:hover{
    .category-sub-menu{
      top: 0;
      opacity: 1;
      transition: opacity .2s;
    }

  }
}


.index-page{
  position: relative;
  &__catalog{
    
  }
  &_catalog-content{
    padding-top: 90px;

  }
  &__category-grid{
    padding-top: 100px;
  }
}


.catalog-img{
  position: absolute;
  right: 0;
  background: url("../../img/catalog-bg.png") no-repeat;
  width: 1180px;
  height: 980px;
  background-size: contain;
  margin-left: 390px;
  top: 200px;
}




.breadcrumbs{
  ul{
    display: flex;
    align-items: center;
    padding: 28px 0;
    li{
      position: relative;
      display: flex;
      align-items: center;
      +li{
        &:before{
          content: '/';
          font-size: 11px;
          color: #9d9d9d;
          margin:0 7px;
        }

      }
      a,p{
        font-size: 11px;
        color: #9d9d9d;
        text-transform: uppercase;
        font-family: $bold;
        transition: all .2s;
      }
      a{
        &:hover{
          color: $orange;
        }
      }
    }
  }
}
.calc-section{
  padding-top: 20px;
}


.calculator-nav-tab{
  border-bottom: 2px solid $orange;
  li{
    float: left;
    a{
      text-align: center;
      padding:10px 30px;
      line-height: 30px;
      background: #ffffff;
      font-size: 14px;
      color: #585858;
      text-transform: uppercase;
      font-family: $bold;
      display: block;
      transition: all .2s;
    }
  }
  li.active{
    a{
      background: $orange;
      color: #ffffff;
    }
  }
}

.calc-type{
  border-bottom: 1px solid #EDEDED;
  a{
    display: inline-block;
    vertical-align: middle;
    color: #595958;
    font-size: 16px;
    font-family: $black;
    border-bottom: 2px solid transparent;
    padding-bottom: 30px;
    +a{
      margin-left: 30px;
    }
    &.active{
      color: $orange;
      border-bottom: 2px solid $orange;
    }
  }
}


.calculator{
  margin-bottom: 20px;
  padding-top: 20px;
  &__tabs-box{

  }
  .calc-content-box{
    padding: 30px;
    background: #ffffff;
  }
}

.calc-select-grid{

  display: flex;
  flex-wrap: wrap;

  &_2{
    justify-content: space-between;
    .calc-select-grid__item{
      width: 340px;
      padding-top: 30px;
      &:nth-child(1){
        padding-top: 0;
      }
      &:nth-child(2){
        padding-top: 0;
      }
    }
  }
  &_3{
    .calc-select-grid__item{
      width: 220px;
      margin-right: 25px;
      &:nth-child(3n){
        margin-right: 0;
      }
    }
  }
}

.custom-select{


  &__title{
    color: #3c3c3c;
    font-size: 14px;
    font-family: $bold;
    padding-bottom: 10px;
  }

  .jq-selectbox{
    width: 100%;
    &__select{
      background: #ffffff;
      box-shadow: none;
      text-shadow: none;
      border-radius: 0;
      height: 40px;
      line-height: 40px;
      color: #808080;
      font-size: 14px;
    }
    &__trigger{
      border-left: none;
    }
    &__trigger-arrow{
      top: 18px;
    }
    li{
      &:hover{
        background: $orange;
      }
    }
  }
}
.calculator-box{
  max-width: 770px;
  width: 100%;
  float: left;
}
.calc{
  &__item{
    border-bottom:1px solid #EDEDED;
    padding-bottom: 30px;
    padding-top: 25px;
    &:last-child{
      border-bottom: none;
      padding-bottom: 0;
    }
  }
  &__btn{
    padding-top: 15px;
    &_big-pad{
      padding-top: 45px;
    }
  }
}
.custom-checkbox{
  &__input:checked + &__custom-input{
    background: $orange ;
    background-size: 10px;
    &:before{
      opacity: 1;
    }
  }
  &__custom-input{
    width: 15px;
    height: 15px;
    background: #DBDBDB;
    background-size: 10px;
    display: block;
    transition: all .2s;
    cursor: pointer;
    position: relative;
    flex: none;
    &:before{
      content: '';
      background: url("../../img/svg/chackbox.svg") no-repeat center;
      background-size: 10px;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: all .2s;
    }
  }

  &__label{
    display: flex;
    align-items: flex-start;
  }

  &__text{
    font-family: $bold;
    color: #525150;
    margin-left: 15px;
    line-height: 1;
    font-size: 14px;
    padding-top: 2px;
    .checkbox-description{
      display: block;
      margin-top: 15px;
      font-family: $base-font-family;
      color: #777777;
      line-height: 1;
    }
  }
  &_big{

    padding-bottom: 30px;
    .custom-checkbox__text{
      font-size: 16px;
    }
  }
  &_big--no-pad{
    padding-bottom: 0;
  }
}
.checkbox-list{
  &_3{
    .custom-checkbox{
      width: 33.333%;
      float: left;
      margin-bottom: 25px;
    }
  }
}
.check-side{
  width: 100%;
  max-width: 380px;
  margin-left: 20px;
  float: right;
  margin-top: 50px;

  &__content{
    background: #ffffff;
    padding: 30px;
    padding-top: 20px;
  }
  &__btn{
    .my-btn{
      width: 100%;
      display: block;
    }
  }
  &__title{
    font-family: $bold;
    font-size: 20px;
    color: #575756;
    padding-bottom: 20px;
    span{
      display: block;
      font-size: 14px;
      color: #737372;
      line-height: 1;
      font-family: $bold;
    }
  }


  &__item{
    padding: 20px 0;
    border-top: 1px solid #EDEDED;
    &_price{
      padding: 30px 0;
    }
  }
  &__value{
    font-size: 14px;
    line-height: 30px;
    font-family: $bold;
    span{
      float: left;
      display: block;


    }
    .description{
        color: #808080;
        width: 60%;
      }
    .check-value{
      color: #3d3c3b;
      width: 40%;
      .check-price{
        font-family: $black;
        font-size: 32px;
      }
    }



  }
}
.tech-req{
  margin-top: 20px;
  background: #ffffff;
  text-align: center;
  a{
    display: block;
    font-size: 16px;
    text-align: center;
    font-family: $black;
    color: #595958;
    line-height: 30px;
    padding:10px 0;
    span{
      position: relative;
      display: inline-block;
      padding-left: 40px;
      &:before{
        content: '';
        background: url("../../img/svg/settings.svg") no-repeat center/contain;
        width: 30px;
        height: 25px;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
}

.reason-section{
  margin-bottom: 20px;
}
.reason-box{
  background: #ffffff;
  padding: 35px 0;
  padding-bottom: 60px;

  &__grid{
    display: flex;
    padding-top: 50px;
  }
  &__item{
    width: 25%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  &__img{
    height: 70px;
    text-align: center;
    img{
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }
  &__item+&__item{
    border-left: 1px solid #F2F2F2;
  }
  &__text{
    font-size: 16px;
    color: #818181;
    line-height: 20px;
  }
}
.slider-section{
  margin-bottom: 30px;
}
.price-table{
  table{
    border: none;
    width: 100%;
    thead{
      background: #ffffff;
      tr{
        td{
          &:first-child{
            padding-left: 30px;
          }
          padding: 27px 0;
          font-family: $bold;
          font-size: 12px;
          color: #808080;
        }
      }
    }
    tbody{
      tr{
        background: #F2F2F2;
        &:nth-child(2n){
          background: #ffffff;
        }
        td{
          &:first-child{
            padding-left: 30px;
          }
          padding: 27px 0;
          font-size: 14px;
          font-family: $bold;
          color: #2e2e2e;
          &:first-child{
            padding-left: 30px;
            color: #565656;
          }
          &:last-child{
            padding-right: 30px;
          }
        }
      }
    }
  }
}
.templates{
  &__content{
    max-width: 580px;
    margin-bottom: 30px;
  }
}
.instruction{
  padding-top: 15px;
  p{
    font-size: 16px;
    color: #606060;
    a{
      margin-left: 3px;
      color: $orange;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}


.templates-page{
  &__catalog{
    margin-bottom: 50px;
  }
  &__sub-title{
    padding-top: 15px;
  }
}


.templates{
  margin-top: 15px;
}

.pay-information{
  margin-bottom: 20px;
}
.pay-information-box{
  padding-top: 25px;
  &__item{
    background: #ffffff;
    padding: 50px;
    float: left;
    width: calc(50% - 10px);
    &:nth-child(2){
      float: right;
    }
  }

  &__custom-list{
    padding-top: 20px;
  }

  &__title{
    display: flex;
    align-items: center;
    color: #575756;
    font-size: 16px;
    font-family: $bold;
    padding-bottom: 25px;
  }
  &__img{
    width: 30px;
    height: 30px;
    flex: none;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__text{
    padding-top: 5px;
    padding-left: 15px;
    line-height: 1;
  }
}
.custom-list{
  &__title{
    font-family: $bold;
    font-size: 16px;
    line-height: 24px;
    color: #575756;
    padding-bottom: 15px;
  }
  &_top-indent{
    padding-top: 25px;
  }
  ul{
    list-style: none;
    li{
      +li{
        margin-top: 15px;
      }
      font-size: 14px;
      line-height: 18px;
      color: #606060;
      padding-left: 25px;
      position: relative;
      font-family: $bold;
      &:before{
        content: '';
        width: 4px;
        height: 4px;
        background: $orange;
        border-radius: 50%;
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
    &.not-bold{
      li{
        font-family: $base-font-family;
      }
    }
  }
  .row_2{
    display: flex;
    ul+ul{
      margin-left: 50px;
    }
    li{
    }
  }
}
.widget_wrap{
  position: fixed !important;
  .widget_list{
    list-style: none;
    li{
      a{
        font-family: $bold;
        &:hover{
          text-decoration: none;
          color: $orange;
        }
      }
    }
  }
}
.steps{
  .calculator-box{
    background: #ffffff;
    padding-top: 30px;
  }
  .check-side{
    margin-top: 0;
    &__content{
      padding-top: 30px;
    }
  }
}
.steps-control{

  display: flex;
  width: 100%;
  max-width: 650px;
  justify-content: space-between;
  align-items: center;
  margin:0 auto;
  padding-bottom: 30px;
  flex-direction: column;
  &__top,&__bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__item{
    width: 33.33333%;
    text-align: center;
    &:nth-child(3){
      .steps-control__number{
        p{
          &:before{
            display: none;
          }
        }
      }
    }
  }
  &__item.disabled{
    .steps-control__title{
      color: #afafaf;
    }
    .steps-control__number p{
      background: #E3E3E3;
      color: #848484;
    }
  }
  &__item.done{
    .steps-control__title{
      color: $orange;

    }
    .steps-control__number p{
      background: $orange;
      color: #ffffff;
      &:after{
        content: '';
        background: url("../../img/svg/checked-white.svg") no-repeat center;
        background-size: 12px;
      }
    }
  }
  &__title{
    font-size: 20px;
    color: #2e2e2e;
    line-height: 1;
    font-family: $bold;
  }
  &__number{
    text-align: center;
    margin-top: 20px;
    p{
      width: 26px;
      height: 26px;
      line-height: 26px;
      text-align: center;
      font-size: 12px;
      color: #ffffff;
      background: $orange;
      font-family: $bold;
      border-radius: 50%;
      margin:0 auto;

      position: relative;
      &:before{
        content: '';
        height: 2px;
        width: 150px;
        @include vertical-absolute();
        background: #EFEFEF;
        right: -170px;
      }
      &:after{
        content: attr(data-step-number);
        width: 26px;
        height: 26px;
        line-height: 26px;
        color: #ffffff;
        font-family: $bold;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

  }
}




.upload-content{
  display: flex;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  padding-top: 50px;
  padding-bottom: 30px;
  &__item{
    width: 50%;
    padding:0 30px;
    &:first-child{
      border-right: 1px solid #EDEDED;
    }
  }
  .dz-default{
    text-align: center;
  }

}

.upload-info{
  &__title{
    cursor: pointer;
    text-align: center;
    &:hover{
      .upload-info__img{
        background: #F3F3F3 url("../../img/svg/upload_active.svg") no-repeat center;
        background-size: 30px;
        transition: all .3s;
      }
    }
  }
  &__img{
    width: 80px;
    height: 80px;
    background: #F3F3F3 url("../../img/svg/upload.svg") no-repeat center;
    background-size: 30px;
    border-radius: 50%;
    transition: all .3s;
    margin:0 auto;
    &:hover{

    }
  }
  &__text{
    color: #3c3c3c;
    font-size: 14px;
    font-family: $bold;
    line-height: 1;
    margin-top: 3px;
  }
}


.upload-wrap{
  position: relative;

  &__link-input{
    margin-top: 10px;
    input{
      width: 280px;
      font-size: 14px;
      display: block;
      margin: 0 auto;
      font-family: $bold;
      height: 35px;
      text-align: center;
      color: #000;
      transition: all .3s;
      border:none;
      border-bottom: 1px solid #E8E8E8;
      @include placeholder{
        color: #cacaca;
      }
    }
  }
  .dropzone{
    position: relative;
    z-index: 2;
    .dz-preview{

    }
  }
  .dz-complete{
    position: relative;
    margin-top: 75px;
    transition: all .3s;
    padding: 5px 0;
    padding-left: 5px;
    padding-right: 30px;
    &:hover{
      background: #F3F3F3;
    }
    +.dz-complete{
      margin-top: 15px;
    }
  }
  .dz-success-mark,.dz-error-mark,.dz-image{
    display: none;
  }
  .dz-details{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    word-break: break-all;
  }
  .dz-filename{
    color: #696969;
    font-size: 14px;
    margin-right: 12px;
    font-family: $bold;
  }
  .dz-size{
    font-family: $bold;
    color: #7eb8dd;
    font-size: 14px;
  }
  .dz-remove{
    @include vertical-absolute();
    font-size: 0;
    width: 10px;
    height: 10px;
    background: url("../../img/svg/close-custom-color.svg") no-repeat center/contain;
    display: block;
    transition: all .3s;
    right: 5px;
    &:hover{
      background: url("../../img/svg/close.svg") no-repeat center/contain;
    }

  }


  .dropzone .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    transition: all 0.2s linear
  }

  .dropzone .dz-preview.dz-complete .dz-progress {
    opacity: 0;
    transition: opacity 0.4s ease-in
  }

  .dropzone .dz-preview:not(.dz-processing) .dz-progress {
    animation: pulse 6s ease infinite
  }

  .dropzone .dz-preview .dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    height: 16px;
    left: 0;
    top: 50%;
    margin-top: -8px;
    width: 100%;
    margin-left:0;
    background: #F3F3F3;
    overflow: hidden
  }

  .dropzone .dz-preview .dz-progress .dz-upload {
    background: #60D05F;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 300ms ease-in-out;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1)
    }
    10% {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1)
    }
    20% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1)
    }
  }

  @-moz-keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1)
    }
    10% {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1)
    }
    20% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1)
    }
  }
  @keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1)
    }
    10% {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1)
    }
    20% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1)
    }
  }


  &_link{
    .upload-info__img{
      background: url("../../img/svg/cloud.svg") no-repeat center;
      background-size: 50px;
      &:hover{
        background: url("../../img/svg/cloud.svg") no-repeat center;
        background-size: 50px;
      }
      .upload-info__title{
        &:hover{
          .upload-info__img{

          }

        }
      }
    }
    .upload-info__title:hover .upload-info__img{
      background: url("../../img/svg/cloud.svg") no-repeat center;
      background-size: 50px;
      transition: all .3s;
    }
    .upload-info{
      position: static;
      margin-top: 8px;
    }
  }


}
.upload-info{
  position: absolute;
  left: 0;
  top: 105px;
  text-align: center;
  width: 100%;
  &__desc{
    font-size: 14px;
    color: #777777;
    font-family: $base-font-family;
    a{
      position: relative;
      z-index:3;
      color: $orange;
      text-decoration: underline;
      &:hover{
        text-decoration: none;
      }
    }
  }
}
.upload-title{
  color: #4e4e4e;
  font-size: 20px;
  font-family: $bold;
  padding: 60px;
  a{
    color: $orange;
    border-bottom: 1px solid $orange;
    transition: all .2s;
    &:hover{
      border-bottom: 1px solid transparent;
    }
  }
  span{
    font-size: 14px;
    color: #777777;
    display: inline-block;
    line-height: 1;
  }
}

.steps-item{
  +.steps-item{
    margin-top: 100px;
  }
}
.delivery-step{
  border-top: 1px solid #EDEDED;
  padding: 30px;
  padding-top: 0;
}
.delivery-nav{

  border-bottom: 1px solid #EDEDED;
  list-style: none;
  text-align: center;
  li{
    display: inline-block;
    color: #000;
    a{
      color: #595958;
      font-size: 16px;
      font-family: $bold;
      line-height: 80px;
      display: block;
      border-bottom: 2px solid transparent;
      transition: all .3s;
      &:hover{
        color: $orange;
      }
    }
    +li{
      margin-left: 40px;
    }
  }
  li.active{
    a{
      border-bottom:2px solid $orange;
      color: $orange;
    }
  }

}
.custom-input{
  &__title{
    color: #3c3c3c;
    font-size: 14px;
    line-height: 1;
    font-family: $bold;
    padding-bottom: 10px;
  }

  &__input{
    border:1px solid #EDEDED;
    height: 40px;
    color: #777777;
    font-size: 14px;
    line-height: 1;
    font-family: $bold;
    display: block;
    width: 100%;
    padding: 0px 10px;
    &_textarea{
      height: 100px;
      resize: none;
      padding-top: 10px;
      padding-bottom: 5px;
    }
  }
}
.delivery-form{


  &__input-info{
    padding-top: 30px;
    padding-bottom: 35px;
    border-bottom: 1px solid #EDEDED;
  }
  &__check{
    .custom-checkbox{
      margin-top: 30px;
    }
  }
  &__input-row{
    display: flex;
    margin-bottom: 25px;


    .custom-input{
      +.custom-input{
        margin-left: 30px;
      }
      &:nth-child(1){
        width: 340px;
      }
      &:nth-child(2){
        width: 160px;
      }
      &:nth-child(3){
        width: 160px;
      }
    }

  }
}
.pay-step{
  padding: 30px;
  padding-top: 0;
}
.pay-step{
  text-align: center;
  .pay-info__tab-nav li{
    opacity: .8;
    transition: all .3s;
    +li{
      margin-left: 10px;
    }
  }
  .pay-info__tab-nav li.active{
    opacity: 1;
    transition: all .3s;
  }
  .text-block{
    font-size: 14px;
    line-height: 18px;

    padding:0 50px;
    span{
      font-size: 16px;
      color: #606060;
      font-family: $bold;
      padding-top: 15px;
      display: block;
      padding-bottom: 25px;
    }

  }
  .pay-info__tab-nav{
    padding-top: 30px;
  }
}
.pay-btn-wrap{
  padding-top: 35px;
  width: 370px;
  margin:0 auto;
  .my-btn{
    width: 100%;
  }
}
.company-pay{
  padding-top: 30px;
  text-align: left;
  .custom-input-grid{
    padding-top: 40px;
  }
}
.custom-input-grid{
  &_2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .custom-input{
      width: calc(50% - 15px);
    }
  }
  .custom-input{
    margin-bottom: 30px;
  }
}
























.upload-file{
  .custom-file-input__wrap{
    cursor:pointer;
  }
  &__btn{
    background: #EFEFEF;
    color: #4e4e4e;
    font-size: 14px;
    line-height: 20px;
    padding: 10px 20px;
    font-family: $base-font-family;
  }
  &__info{
    font-size: 14px;
    color: #777777;
    line-height: 18px;
    margin-left: 20px;
  }
}
.custom-file-input__wrap{
  display: flex;
  align-items: center;
}
#file-status{
  font-size: 13px;
  color: #74828d;
  padding-bottom: 5px;
  padding-top: 10px;
  border-bottom: 1px solid #ECECEC;
  margin-top: 10px;
  display: none;
}

.upload-file{
  .inp{
    display: none !important;
  }
}
.careers-section{
  padding-top: 15px;
  margin-bottom: 20px;
}


.vacancies-item{
  background: #ffffff;
  display: flex;
  height: 345px;
  +.vacancies-item{
    margin-top: 20px;
  }

  &__img{
    flex: none;
    width: 280px;
    height: 100%;
    position: relative;
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
  &__info{
    width: 100%;
    padding: 60px;
  }
  &__title{
    font-size: 20px;
    color: #575756;
    font-family: $bold;
    line-height: 24px;
    padding-bottom: 25px;
  }
  &__desc{
    font-family: $base-font-family;
    color: #606060;
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 25px;
    p+p{
      margin-top: 15px;
    }
  }
}
.vacancies{
  padding-top: 20px;
}


.control-btn{
  padding-bottom: 20px;
  a{
    font-size: 14px;
    text-decoration: underline;
    line-height: 18px;
    &:hover{
      text-decoration: none;
    }
    +a{
      margin-left: 20px;
    }
  }
  .add{
    color: $orange;
  }
  .del{
    color: #bababa;
  }
}
.hidden{
  display: none;
}

.fancybox-slide > div.thx-popup{
  width: 100%;
  height: 390px;
  max-width: 600px;
  overflow: visible;
  .fancybox-close-small{
    @include cancel-absolute();
    position: absolute;
    top: 0;
    right: -50px;
    background: url("../../img/svg/close-white.svg") no-repeat center;
    background-size: 20px;
    width: 50px;
    height: 20px;
    &:after{
      display: none;
    }
    &:before{
      display: none;
    }
  }
}
.thx-popup{
  &__content{
    max-width: 370px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }
  &__text{
    margin-top: 30px;
    font-size: 16px;
    color: #a6a6a6;
    font-family: $medium;
  }
  &__title{
    font-size: 64px;

    font-family:$rodchenko;
    color: #575756;
    .thx-text{
      line-height: 1;
      display: inline-block;
      vertical-align: middle;
      border-bottom:3px solid $orange;

    }
    .smile{
      color: $orange;
      margin-left: 0px;
    }
  }
}
.side-grid{
  display: flex;
  &__main{
    width: 780px;
    margin-right: 20px;
  }
  &__sidebar{
    width: 380px;
    margin-left: auto;
    flex: none;
  }
}
.content-indent{
  margin-top: 30px;
}
.page-indent{
  padding: 20px 0;
}
.temp-article{
  background: #ffffff;

  &__indent{
    padding: 50px;
  }
  &__image{
    position: relative;
    width: 100%;
    height: 340px;
    +.temp-article__image{
      margin-top: 30px;
    }
    img{
      width: 100%;
      height: 100%;
      position: absolute;
      objec-fit:contain;
    }
  }
}

.content-box{
  padding: 50px;
  background: #fff;
  &__custom-list{
    padding-top: 40px;
  }
}
.services-table{
  padding-top: 20px;
  width: 100%;
  table{
    width: 100%;
    td{
      &:first-child{
        padding-left: 25px;
        height: 70px;
        width: 400px;
        font-size: 14px;
      }
    }
    thead{
      tr{
        background: #ffffff;
        color: #808080;
        font-size: 14px;
        font-family: $bold;
        td{
          height: 70px;
        }

      }
    }
    tbody{
      tr{
        font-family: $bold;
        background: #F6F6F6;
        &:nth-child(2n){
          background: #ffffff;
        }
        td{
          color: #2e2e2e;
          &:first-child{
            color: #565656;
          }
        }
      }
    }
  }
}
.about-us-page{
  &__category-grid{
    padding-top: 25px;
  }
}


.contacts-info{
  display: flex;
}


.contacts-main-info{
  display: flex;
  flex-direction: column;
  &__phone{

    a{
      display: inline-block;
      color: #575756;
      font-size: 32px;
      font-family: $rodchenko-bold;
    }
  }
  &__email{
    padding-top: 10px;
    a{
      font-size: 18px;
      color: $orange;
      font-family: $bold;
      border-bottom: 1px solid $orange;
      transition: $default-transition;
      &:hover{
        border-bottom: 1px solid transparent;
      }
    }
  }
}



.contacts-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 700px;
  margin-left: auto;
  &__item{

    width: calc(50% - 15px);

  }
  &__link{
    padding: 2px 0;
    a{
      font-size: 16px;
      color: $orange;
      border-bottom: 1px solid $orange;
      transition: $default-transition;
      &:hover{
        border-bottom: 1px solid transparent;
      }
    }
  }
  &__text{
    color: #3d3c3b;
  }
}


.contacts-cards{
  display: flex;
  padding-top: 20px;
  &__item{
    width: calc(33.333333% - 10px);
    margin-right: 20px;
    &:nth-child(3n){
      margin-right: 0;
    }
  }
}


.contact-card{
  background: #ffffff;
  padding: 30px;
  height: 100%;
  &__title{
    color: #575756;
    font-size: 20px;
    font-family: $bold;
    border-bottom: 1px solid #EDEDED;
    padding-bottom: 25px;
  }
  &__content{
    padding-top: 25px;
  }
  &__text{
    color: #3d3c3b;
    font-size: 14px;
    line-height: 16px;
    p{
      margin-bottom: 15px;
    }
  }
}

.contact-req{
  p{
    +p{
      margin-top: 10px;
    }
    font-size: 14px;
    line-height: 16px;
    span{
      color: #808080;
    }
  }
}
.contact-map{
  margin-top: 20px;
  #map{
    width: 100%;
    height: 500px;
  }
}
.custom-input{
  &__input{
    padding-left: 0px;
    background: #ffffff;
    border:none;
    font-size: 16px;
    color: #000;
    font-family: $base-font-family;
    display: block;
    width: 100%;
    @include placeholder{
      color: #808080;
    }
  }
}
.feedback{
  width: 620px;
  padding-top: 45px;
  &__my-btn-wrap{
    padding-top: 20px;
  }
  .custom-input__input{
    padding-left: 15px;
  }
}
.input-field{
  display: flex;
  flex-wrap: wrap;
  .custom-input{
    width:calc(50% - 10px);
    &:nth-child(2n){
      margin-left: auto;
    }
  }
}

.services-table-text{
  padding: 25px;
  color: #b9b9b9;
  font-size: 14px;
  background: #ffffff;
  &--top-border{
    border-top:1px solid #F6F6F6;
  }
  &--bottom-border{
    border-bottom:1px solid #F6F6F6;
  }
}

.services-table-section{
  &_delivery{
   .services-table{
     +.services-table{
       padding-top: 0;
     }
   }
  }
}
.delivery-page{
  &__image{
    position: relative;
    width: 100%;
    height: 400px;
    img{
      position: absolute;
      object-fit:cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}



.review-grid{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  &__item{
    width:calc(50% - 10px);
    margin-bottom: 20px;
    padding: 50px;
    background: #ffffff;
    .rev-item{
      width: 100%;
    }
  }
}

.portfolio-grid{
  display: flex;
  flex-wrap:wrap;
  margin:0 -10px;
  &__item{
    width: 25%;
    padding:0 10px;
    margin-bottom: 20px;
  }
}


.portfolio-filter{
  display: flex;
  padding-bottom: 25px;
  a{
    display: block;
    width: 120px;
    text-transform: uppercase;
    color: #595958;
    font-size: 14px;
    font-family: $bold;
    position: relative;
    padding:10px 0;
    line-height: 25px;
    text-align: center;
    background: #ffffff;
    margin-left: 12px;
    transition: $default-transition;
    &:hover{
      color: $orange;
    }
    &:first-child{
      margin-left: 0;
    }
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      height: 2px;
      background: $orange;
      opacity: 0;
    }
    &.active{
      color: $orange;
      &:before{
        opacity: 1;
      }
    }
  }
}

.fancybox-navigation{
  .fancybox-arrow{
    width: 40px;
    height: 50px;
    opacity: 1;
    transform: none;
    &:after{
      width: 100%;
      height: 100%;
    }
    &--right{

      &:after{
        background: $orange url("../../img/svg/white-right.svg") no-repeat center;
        background-size: 10px;
      }
    }
    &--left{
      &:after{
        background: $orange url("../../img/svg/white-left.svg") no-repeat center;
        background-size: 10px;
      }

    }
  }
}
.fancybox-toolbar{
  .fancybox-button--close{
    width: 50px;
    height: 50px;
    background: url("../../img/svg/close-white.svg") no-repeat center;
    background-size: 18px;
    transition: $default-transition;
    &:hover{
      opacity: 1;
      background: url("../../img/svg/close-white.svg") no-repeat center;
      background-size: 18px;
      transform: scale(.9);
    }
  }
}
.news-item{
  display: block;
  background: #ffffff;
  height: 425px;
  position: relative;
  transition: $default-transition;
  &__image{
    display: block;
    position: relative;
    height: 280px;
    width: 100%;
    transition: $default-transition;
    img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__text{
    p{
      display: inline-block; // for non Webkit browsers
      display: -webkit-box;  // needed for the effect to cut off
      -webkit-line-clamp: 4;  // line to cut off
      -webkit-box-orient: vertical;
      font-size: 14px;
      line-height: 16px;
      color: #818181;
      overflow: hidden;
    }

  }
  &__info{
    background: #ffffff;
    padding: 25px;
    height: 140px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: $default-transition;
  }
  &__title{
    color: #575756;
    font-size: 16px;
    font-family: $bold;
    padding-bottom: 10px;
  }

  &:hover{
    box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.2);
    .news-item__info{
      height: 180px;
    }
    .news-more{
      opacity: 1;
    }
  }


}
.news-more{
  position: absolute;
  bottom: 25px;
  left: 25px;
  font-family: $rodchenko-bold;
  text-transform: uppercase;
  color: $orange;
  font-size: 14px;
  letter-spacing: 2px;
  opacity: 0;
  transition: $default-transition;
}
.news-grid{
  display: flex;
  flex-wrap: wrap;
  margin:0 -10px;
  &__item{
    width: 25%;
    padding:0 10px;
    margin-bottom: 20px;
  }
  &_indent{
    margin-top: 30px;
  }
}



.pagination{
  padding: 10px 0;
  ul{
    list-style: none;
    display: flex;
    li{
      +li{
        margin-left: 4px;
      }
      a,p{
        width: 40px;
        height: 40px;
        display: block;
        color: #575756;
        font-size: 14px;
        line-height: 40px;
        text-align: center;
        font-family: $bold;
        background: #ffffff;
      }
      p{
        background: transparent;

      }
      a{
        &:hover{
          color: $orange;
        }
      }
      &.active{
        a{
          position: relative;
          &:before{
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            background: $orange;
          }
        }
      }
    }
  }
}


.article{
  background: #ffffff;
  &__main-image{
    position: relative;
    height: 400px;
    width: 100%;
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }
}
.article-content{
  padding-top: 80px;
  padding-bottom: 60px;
  width: 780px;
  margin:0 auto;
  &__title{
    padding-bottom: 35px;
  }
}


.article-image{
  height: 380px;
  position: relative;
  margin:30px 0;
  img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.article-share{
  margin-top: 130px;
  &__title{
    color: #575756;
    font-size: 20px;
    font-family: $bold;
  }
}

.share-soc{
  display: flex;
  padding-top: 25px;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: $default-transition;
    +a{
      margin-left: 4px;
    }
    &:hover{
      transform: scale(1.07);
    }
    img{
      width: 20px;
      height: 20px;
      object-fit: contain;
    }
  }
}
.show-detail{
  width: 120px;
  a{
    font-size: 14px;
    color: #afafaf;
    position: relative;
    display: block;
    &.ok{
      color: #5dc072;
    }
    &.in-load{
      color: #65abdc;
    }
    padding-right: 30px;
    cursor: pointer;

  }
}
.history-main-info{
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 25px 30px;
  line-height: 1;
  position: relative;
  justify-content: space-between;
  &:before{
    content: '';
    @include vertical-absolute();
    right:30px;
    width: 8px;
    height: 1px;
    background: #B5B5B5;
    transition: all .3s;
    transform: rotate(-45deg);
  }
  &:after{
    content: '';
    @include vertical-absolute();
    right:36px;
    width: 8px;
    height: 1px;
    background: #B5B5B5;
    transition: all .3s;
    transform: rotate(45deg);
  }
  &.active{
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
  &__box{
    display: flex;
    width: 670px;
    flex: none;
    margin-left: auto;
    justify-content: space-between;
  }
  &__title{
    font-size: 16px;
    font-family: $bold;
    color: #565656;
  }
  &__number{
    color: #afafaf;
    font-size: 14px;

  }
  &__date{
    color: #afafaf;
    font-size: 14px;

  }
  &__price{
    font-family: $bold;
    color: #2e2e2e;
    font-size: 14px;
  }
}
.history-detail{
  padding: 30px;
  background: #F9F9F9;
  border-top: 1px solid #EDEDED;

  display: none;
  &__wrap{
    display: flex;
  }
  &__box{
    display: flex;
    width: 670px;
    margin-left: auto;
    flex: none;
    justify-content: space-between;
  }
}
.history-info{
  &__item{
    +.history-info__item{
      margin-top: 10px;
    }


    font-size: 14px;
    color: #3d3c3b;
    p{
      display: flex;
      align-items: center;
      span{
        &:first-child{
          color: #808080;
          width: 145px;
          margin-right: 50px;
        }
      }
    }
  }
}
.history-info-title{
  color: #575756;
  font-size: 14px;
  font-family: $bold;
  padding-bottom: 15px;
}
.info-items{
  color: #808080;
  font-size: 14px;
  .info-items__one+.info-items__one{
    margin-top: 20px;
  }
  a{
    color: $orange;
    border-bottom: 1px solid $orange;
    transition: $default-transition;
    &:hover{
      border-bottom: 1px solid transparent;
    }
  }
}

.result{
  margin-left: auto;
  width: 285px;
  .my-btn{
    width: 100%;
  }
}
.history-item{
  +.history-item{
    margin-top: 10px;
  }
}
.wait{
  color: #65abdc;
}
.wait-item{
  +.wait-item{
    margin-top: 20px;
  }
}
.home-nav{
  a{
    color: #585858;
    font-size: 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-family: $black;
    &.active{
      color: $orange;
      border-bottom: 2px solid $orange;
    }
  }
}

.home-page-top{
  display: flex;
  align-items: flex-end;
}
.home-nav{
  margin-left: 30px;
  a+a{
    margin-left: 15px;
  }
}
.profile-box{
  background: #ffffff;
  padding: 50px;
  &__wrapper{
    display: flex;
  }
}
.user-date-item{
  +.user-date-item{
    margin-top: 35px;
  }
  &__title{
    color: #575756;
    font-size: 14px;
    font-family: $bold;
    padding-bottom: 10px;
  }
  &__value{
    display: flex;
    align-items: center;
    input{
      display: block;
      width: 100%;
      border:none;
      color: #808080;
      font-size: 20px;
    }
  }
}
.user-date{
  width: 570px;
  &__field{
    display: flex;
    justify-content: space-between;
    .user-date-item{
      +.user-date-item{
        margin-left: 0;
        margin-top: 0;
      }
      width: 50%;
    }
  }
  &__field+&__field{
    margin-top: 35px;
  }
}

.add-info{
  display: flex;
  padding-top: 50px;
  a{
    font-size: 14px;
    color: $orange;
    border-bottom: 1px solid $orange;
    transition: $default-transition;
    +a{
      margin-left: 30px;
    }
    &:hover{
      border-bottom: 1px solid transparent;
    }
  }
}

.address-data{
  width: 320px;
  margin-left:auto;
}

.delete{
  flex: none;
  margin-left: 10px;
  a{
    cursor: pointer;
    color: #bababa;
    font-size: 14px;
    border-bottom: 1px solid #bababa;
    transition: $default-transition;
    &:hover{
      border-bottom: 1px solid transparent;
    }
  }
}




.custom-input{
  position: relative;
  &__input{
    color: #575756;
    font-size: 20px;
    height: 45px;
    border:none;
    display: block;
    width: 100%;
    border-bottom: 1px solid #F0F0F0;
    transition: $default-transition;
    &:focus{
      border-bottom: 1px solid #575756;
    }
  }


  label {
    display: block;
    pointer-events: none;
    position: relative;
    width: 100%;
    color: #808080;
    font-size: 0;
    font-weight: normal;
    top: -45px;

    &:before {
      content: attr(data-content);
      position: absolute;
      font-size: 18px;
      transition: all 0.2s ease;
      top: 12px;
    }
  }
  &__input:focus + label, &__input.notempty + label {
    font-size: 10px;
    font-family: $bold;
    &:before {
      font-size: 13px;
      color: #575756;
      top: -12px;
    }
  }


}




.input-box{
  width: 640px;
  flex: none;
  margin-right: 80px;
  .custom-input{
    &__input{
      padding-left: 0;
      color: #808080;
    }
  }
}

.custom-input-field{
  display: flex;
  justify-content: space-between;

  .custom-input{
    width:calc(50% - 20px);
  }

  +.custom-input-field{
    margin-top: 35px;
  }
}
.user-info-form{
  display: flex;
  &__save{
  }
}


.delete-btn,.pass-rec{
  color: $orange;
  background: transparent;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid $orange;
  transition: $default-transition;
  cursor: pointer;
  padding: 0;
  margin-top: 20px;
  &:hover{
    border-bottom: 1px solid transparent;
  }
}
.edit-address{
  margin-top: 35px;
  .user-info-save{
    margin-top: 30px;
  }
}






.fancybox-slide > div.popup{
  width: 600px;
  padding: 100px;
  overflow: visible;
  .fancybox-close-small{
    right: -44px;
    top: -12px;
    &:after{
      display: none;
    }
    &:before{
      display: none;
    }

    background: url("../../img/svg/close-white.svg") no-repeat center;
    background-size: 15px;
  }
}


.log-form{
  padding-top: 45px;
  .custom-input{
    +.custom-input{
      margin-top: 35px;
    }
  }
  &__btn{
    padding-top: 35px;
    .pass-rec{
      margin: 0;
      margin-bottom: 30px;
      display: inline-block;
    }
  }
}


.page-404{
  width: 100%;
  height: 100vh;
  background: url("../../img/404.jpg") no-repeat center/cover;
  position: relative;
  .logo{
    position: absolute;
    width: 120px;
    top: 50px;
    left: 50px;
  }
  &__footer{
    position: absolute;
    bottom: 50px;
    left: 50px;
  }
  &__footer-text{
    margin-top: 35px;
    text-transform: uppercase;
    font-family: $bold;
    color: #555555;
    font-size: 12px;
  }
}
.mobile-header{
  display: none;
}


.menu-popup{
  display: none;
}
.dz-error-message{
  display: none;
}


.mobile-table{
  display: none;
}


.feedback-banner{
  .custom-title{
    span{
      color: #ebebeb;
      font-size: 16px;
      font-family: $medium;
      display: block;
      line-height: 1;
    }
  }

}


@keyframes up-animation {
  0%{
    opacity: 0;
    transform: translate3d(0px, 80px, 0px);
  }
  80%{

  }

  100%{
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
}



.up-animation{
  animation-name: up-animation;
}

@import "components/media"; /*-- В конце */
