@import "mixin";
@import "var";

%dark-btn{
  color: #faf6ec;
  background: #66625C url("../../img/svg/dark-btn.svg") no-repeat;
}

.my-btn{
  padding-left: 20px;
  padding-right: 20px;
  height: 45px;
  line-height: 45px;
  cursor: pointer;
  letter-spacing: 2px;
  font-family: $rodchenko-bold;
  background: transparent;
  color: #ffffff;
  text-align: center;
  background: $orange url("../../img/svg/btn bg.svg") no-repeat;
  background-size: 86px, 100%;
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  border:none;

  &.dark-btn{
    @extend %dark-btn;
  }

  position: relative;
  overflow: hidden;
  span{
    display: block;
  }
  &:hover{
    span{
      animation: anim-adrian-white 0.2s forwards;
    }
  }
  &:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 86px;
  }
}












.menu--prospero{
  a{
    position: relative;
    display: block;
    transition: color 0.3s;

    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: $orange;
      transform: scale3d(0, 1, 1);
      transition: transform 0.1s;
    }
    &:hover{
      &:before{
        transform: scale3d(1, 1, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.3s;
      }
    }
    &.active{
      &:before{
        transform: scale3d(1, 1, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.3s;
      }
    }
  }
}
.category-nav-list__item{
  &:hover{
    .category-nav-list__link{
      &:before{
        transform: scale3d(1, 1, 1);
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.3s;
      }
    }
  }

}



.custom-link{
  a{
    position: relative;
    overflow: hidden;
    span{
      display: block;
      pointer-events: none;
    }
    &:after,&:before{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      transform: scale3d(0, 1, 1);
      transform-origin: center left;
      transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    }
    &:before{
      background: #EAEAEA;
      transition-delay: 0.4s;
      transform: scale3d(1, 1, 1);
    }
    &:after{
      background: #f29611;
    }
    &:hover{
      span{
        animation: anim-adrian 0.3s forwards;
      }
      &:before,&:after{
        transform: scale3d(1, 1, 1);
      }
      &:before{
        background: #f29611;
        transform: scale3d(1, 1, 1);
        transition-delay: 0s;
      }
    }
  }
}


@-webkit-keyframes anim-adrian {
  50% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  51% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    color: #575756 ;
  }
}
@-webkit-keyframes anim-adrian-white {
  50% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  51% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    color: #ffffff ;
  }
}





