@media screen and (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .menu-list li a{
    font-size: 10px;
  }
  .menu-list li + li:before {
    content: '/';
    margin: 0 5px;
    font-size: 10px;
  }
  .user-nav a{
    font-size: 10px;
  }
  .category-sub-menu__box ul li a{
    font-size: 10px;
    line-height: 45px;
  }
  .short-advantages__content{
    padding: 35px 20px;
  }
  .short-advantages__title{
    font-size: 38px;
    line-height: 38px;
  }
  .detail-info__item{
    float:  none;
    width: 100%;
    min-height: auto;
  }
  .detail-info__custom-link{
    bottom: 20px;
  }
  .calculator-box{
    max-width: 100%;
  }
  .check-side {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    float: right;
    margin-top: 50px;
  }


  .contacts-info{
    flex-direction: column;
  }
  .contacts-detail{
    width: 100%;
    margin-left: 0;
    padding-top: 40px;
    &__item{
      width: 100%;
    }
    &__item+&__item{
      padding-top: 25px;
    }
  }
  .history-detail__box{
    width: 530px;
  }

  .catalog-img{
    right: -500px;
  }






}

@media screen and (max-width: 991px) {
  .container {
    width: 750px;
    padding:0 15px;
  }
  
  .header,.category-nav,.header-info{
    display: none;
  }
  .mobile-header{
    background: #212020;
    display: block;
    position: relative;
    z-index: 10;
    &__content{
      display: flex;
      align-items: center;
      padding: 17px 0;
    }
  }
  .mobile-logo{
    display: block;
    width: 70px;
  }
  .mob-phone{
    color: #ffffff;
    font-size: 24px;
    font-family: $rodchenko-bold;
    margin-left:auto;
    line-height: 1;
  }

  .burger-menu{
    width: 25px;
    height: 25px;
    margin-left: 30px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .fancybox-slide > div.menu-popup{
    position: absolute;
    margin:0;
    left: 0;
    top: 0;
    width:calc(100% - 30px);
    height: 100%;
    padding: 0;
    .fancybox-close-small{
      @include cancel-absolute();
      position: absolute;
      top: 35px;
      right: 35px;
      width: 20px;
      height: 20px;
      background: url("../../img/svg/close.svg") no-repeat center;
      background-size: 20px;
      &:after{
        display: none;
      }
      &:before{
        display: none;
      }
    }
  }


  .mobile-main-info{
    padding: 30px;
    padding-bottom: 0;

    &__phone{
      color: #575756;
      font-size: 32px;
      line-height: 1;
      font-family: $rodchenko-bold;
      margin-bottom: 5px;
      display: inline-block;
    }
    &__contact{
      color: #575756;
      font-size: 14px;
      font-family: $black;
      span{
        color: #999999;
        font-size: 12px;
        display: block;
        font-family: $bold;
      }
    }
    &__btn{
      padding-top: 25px;
      .my-btn{

      }
    }
  }

  .mob-category-nav{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    overflow-x: hidden;
    &__list{
      list-style: none;
    }
    &__item{
      border-top:1px solid #eeeeee;
      &.active{
        .mob-sub-menu{
          display: block;
        }
        .mob-category-nav__link{
          position: relative;
          &:before{
            content: '';
            bottom: 0;
            height: 2px;
            width: 240px;
            position: absolute;
            background: #FF880E;
            left: 0;
          }
        }
      }
    }
    &__link{
      display: block;
      padding: 15px 0;
      line-height: 25px;
      color: #3f3e3d;
      font-size: 14px;
      font-family: $bold;
      text-transform: uppercase;
      span{
        display: block;
        color: #afafaf;
        font-size: 10px;
      }
    }
  }

  .mob-sub-menu{
    background: #FF880E;
    display: none;
    position: relative;
    &:before{
      content: '';
      width: 4000px;
      height: 100%;
      position: absolute;
      left: -50%;
      top: 0;
      background: #FF880E;
    }
    >*{
      position: relative;
      z-index: 2;
    }
    &__list{
      list-style: none;
      display: flex;
      align-items: center;
      li+li{
        margin-left: 30px;
      }
    }

    &__link{
      color: #ffffff;
      display: block;
      line-height: 30px;
      padding:15px 0;
      font-family: $bold;
      text-transform: uppercase;
    }
  }


  .mob-main-nav{
    background: #212020;
    padding: 30px;
    &__list{
      list-style: none;
    }
    &__item{

      border-bottom: 1px solid #2E2E2E;
      
    }
    &__link{
      color: #949393;
      font-size: 14px;
      font-family: $bold;
      padding: 15px 0;
      line-height: 25px;
      display: block;
    }
    &__log{
      padding-top: 25px;
      a{
        color: #949393;
        font-size: 14px;
        font-family: $bold;
        +a{
          margin-left: 30px;
        }
      }
    }
  }


  .index-page_catalog-content{
    padding-top: 35px;
  }

  .category-grid__item.main{
    width: 100%;
  }

  .category-grid__item{
    width: 50%;
  }
  .index-page__category-grid{
    padding-top: 35px;
  }

  .rev-item{
    width: 100%;
  }
  .reviews-section{
    .rev-item+.rev-item{
      margin-top: 35px;
    }
  }
  .reviews-section__content{
    padding: 30px;
  }
  .equipment-info{
    padding: 30px;
  }
  .equipment-info-item{
    width: 100%;
    &:first-child{
      padding-bottom: 30px;
    }
  }

  .equipment-info__list ul{
    padding-top: 25px;
  }

  .equipment-info__list ul li{
    margin-bottom: 20px;
    padding-left: 15px;
  }
  .footer__box{
    flex-direction: column;
  }
  .footer-top__menu-list{
    flex-wrap:wrap;
    li{
      a{
        font-size: 16px;
      }
    }
  }
  .footer-nav{
    padding-top: 35px;
    padding-left: 0;
  }
  .footer-nav__list + .footer-nav__list {
    margin-left: 40px;
  }
  .footer__box{
    padding-bottom: 20px;
    padding-top: 40px;
  }
  .footer-contacts{
    text-align: left;
    margin-left: 0;
  }

  .footer-contacts__info{
    text-align: left;
    text-transform: none;
  }

  .copyright{
    flex-direction: column;
  }
  .soc-links{
    margin-left: 0;
    margin-top: 15px;
  }
  .creator{
    margin-left: 0;
    margin-top: 15px;
  }

  .breadcrumbs ul{
    padding: 15px 0;
  }
  .calc-select-grid_2 .calc-select-grid__item{
    width: 100%;
  }
  .calc-select-grid_2 .calc-select-grid__item:nth-child(2) {
    padding-top: 25px;
  }
  .calc-select-grid_2 .calc-select-grid__item{
    padding-top: 25px;
  }

  .calc-select-grid_3 .calc-select-grid__item {
    width: 100%;
    margin-right: 0;
    +.calc-select-grid__item{
      padding-top: 25px;
    }
  }
  .reason-box__item{
    width: 210px;
    padding: 25px 0;
  }
  .reason-box{
    padding:30px 0;
  }
  .reason-box__grid{
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }
  .reason-box__item + .reason-box__item{
    border-left: none;
    border-top: 1px solid #F2F2F2;
  }


  .pay-information-box__item{
    width: 100%;
    padding: 40px;
    +.pay-information-box__item{
      margin-top: 20px;
    }

  }
  .side-grid{
    flex-direction: column;
  }
  .side-grid__main{
    width: 100%;
  }
  .side-grid__sidebar{
    width: 100%;
    padding-top: 45px;
  }
  .category-grid_column .category-grid__item{
    width: 50%;
    padding:0 10px;
  }
  .news-grid__item{
    width: 50%;
  }

  .article-content{
    width: 100%;
    padding: 30px;
  }

  .vacancies-item{
    height: auto;
    position: relative;
    &__info{
      padding: 40px;
      display: flex;
      flex-direction: column;
    }
    &__img{
      width: 110px;
      height: 140px;
      position: absolute;
      left: 0;
      top: 0;
    }
    &__title{
      order: 1;
      padding-left: 110px;
    }
    &__desc{
      order: 3;
    }
    .my-btn-wrap{
      order: 2;
      padding-left: 110px;
      margin-bottom: 40px;
    }
  }
  .content-box{
    padding: 30px;
  }
  .custom-list .row_2{
    flex-direction: column;
  }
  .custom-list .row_2 ul + ul{
    margin-left: 0;
    margin-top: 20px;
  }

  
  .mobile-table{
    display: block;
    padding-top: 20px;



  }


  .services-table{
    display: none;
  }
  .mobile-table-item{
    padding:0 30px;
    background: #ffffff;
    transition: $default-transition;
    &.active{
      background: #FCF9F9;
    }
    &__title{
      color: #565656;
      line-height: 25px;
      padding:25px 0;
      font-size: 16px;
      font-family: $bold;
      position: relative;
      &:before{
        content: '';
        width: 18px;
        height: 2px;
        @include vertical-absolute();
        right:0;
        background: $orange;
      }
      &:after{
        content: '';
        height: 18px;
        width: 2px;
        @include vertical-absolute();
        background: $orange;
        right: 8px;
        transition: $default-transition;
      }

      &.active{
        &:after{
          opacity: 0;
        }
      }

    }
    &__one{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-family: $bold;
      padding: 20px 0;
      border-top: 1px solid #EDEDED;
    }
    &__name{
      color: #808080;
    }
    &__list{
      list-style: none;
      display: none;
    }
  }
  .review-grid__item{
    width: 100%;
    padding: 30px;
  }

  .portfolio-filter a{
    font-size: 10px;
    line-height: 20px;
  }
  .portfolio-grid__item{
    width: 33.333333%;
  }
  .history-detail__wrap{
    flex-direction: column;
  }
  .history-detail__box {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
    flex-direction: column;
  }
  .result{
    width: 100%;
    margin-left: 0;
    margin-top: 25px;
  }

  .profile-box{
    padding: 30px;
    &__wrapper{
      flex-direction: column;
    }
  }
  .address-data {
    width: 100%;
    margin-left: 0;
    padding-top: 40px;
  }
  .add-info{
    padding-top: 30px;
  }
  .user-info-form{
    flex-direction: column;
    .input-box{
      flex-direction: column;
      width: 100%;
      margin: 0;
    }
    .custom-input-field{
      flex-direction: column;
      .custom-input{
        width: 100%;
        +.custom-input{
          margin-top: 35px;
        }
      }
    }


  }
  .user-info-save{
    padding-top: 30px;

  }
  .page-404{
    background-position-x: 90%;
  }
  .page-404 .logo{
    @include cancel-absolute();
    @include horizontal-absolute();
    top: 30px;
  }
  .page-404__footer{
    @include cancel-absolute();
    @include horizontal-absolute();
    text-align: center;
    bottom: 30px;
  }
  .page-404__footer-text{
    margin-top: 20px;
  }


  .catalog-img {
    right: -460px;
    top: 140px;
    width: 740px;
    height: 600px;
  }
}


@media screen and (max-width: 767px) {
  .container {
    width: 450px;
    padding:0 15px;
  }


  .index-page__catalog:before{
    top: 130px;
    height: 855px;
  }
  .category-grid__img{
    height: 160px;
    padding: 15px;
    img{
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .category-grid__item.main .category-grid__img {
    height: 380px;
    padding-top: 50px;
  }
  .category-grid__item.main .category-grid__one{
    height: 420px;
  }
  .category-grid__one{
    height: 200px;
  }




  .price-banner__box{

    padding: 30px;
  }

  .custom-title{
    line-height: 48px;
  }

  .equipment-item__name{
    padding: 20px;
    font-size: 13px;
  }

  .equipment-item__img{
    height: 190px;
  }

  .detail-info__item{
    padding: 30px;
    padding-bottom: 80px;
  }
  .detail-info__custom-link{
    left: 30px;
  }
  .sub-title{
    padding-top: 15px;
  }
  .short-advantages__content{
    flex-direction: column;
  }
  .short-advantages__item{
    width: 100%;
    position: relative;
    padding:30px 0;


  }

  .short-advantages__content {
    padding: 10px 20px;
  }

  .short-advantages__item + .short-advantages__item{
    border:none;
    &:before{
      content: '';
      background: #F2F2F2;
      width: 90px;
      height: 1px;
      @include horizontal-absolute();
      top: 0;
    }
  }

  .calc-type{
    display: flex;
    a{
      width: 50%;
      text-align: center;
      padding-bottom: 20px;
      span{
        display: none;
      }
    }
  }
  .check-side{
    margin-top: 20px;
    padding-bottom: 25px;
  }

  .my-title.big{
    font-size: 54px;
  }
  .calc-type a + a{
    margin-left: 0;
  }

  .calc-type a{
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 16px;
  }
  .calculator .calc-content-box{
    padding: 30px;
  }
  .price-table{
    overflow: scroll;
  }
  .price-table table{
    width: 590px;
  }
  .steps-control__item.disabled .steps-control__title{
    display: none;
  }
  .steps-control__item.done .steps-control__title{
    display: none;
  }
  .steps-control__top{
    flex-direction: column;
    align-items: center;
    .steps-control__item{
      width: 100%;
    }
  }
  .steps-control__number p:before{
    width: 100px;
    right: -106px;
  }


  .menu-list li + li:before{
    display: none;
  }
  .menu-list li + li:after{
    content: '/';
    color: #3a3a3a;
    margin: 0 5px;
    font-size: 10px;
  }
  .menu-list li{
    &:first-child{
      &:after{
        content: '/';
        color: #3a3a3a;
        margin: 0 3px;
        font-size: 10px;
      }

    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
  .footer-top__menu-list{
    justify-content:flex-start;
  }
  .footer-top{
    padding: 10px 0;
  }
  .footer-contacts{
    padding-top: 20px;
  }
  .footer-top__menu-list li a{
    line-height: 30px;
  }
  .reason-box__img{
    height: 60px;
  }


  .upload-content{
    flex-direction: column;
  }
  .upload-content__item{
    width: 100%;
    &:last-child{
      margin-top: 60px;
    }
  }

  .upload-title{
    padding: 30px;
  }
  .delivery-form__input-info{
    .custom-input{
      &__input{
        border:1px solid #F0F0F0;
        &_textarea{
          border:1px solid #F0F0F0;
          height: 100px;
        }
      }
    }
  }
  .delivery-form__input-row{
    flex-direction: column;

    .custom-input{
      width: 100%;
      &__input{
        border:1px solid #F0F0F0;
        &_textarea{
          border:1px solid #F0F0F0;
          height: 100px;
        }
      }

      +.custom-input{
        margin-left: 0;
        margin-top: 35px;
      }
      &:nth-child(1){
        width: 100%;
      }
      &:nth-child(2){
        width: 100%;
      }
      &:nth-child(3){
        width: 100%;
      }
    }
  }
  .delivery-nav{
    padding:0 30px;
  }


  .delivery-step{
    padding: 0;
  }

  .step-content{
    .tabs-box{
      padding:0 30px;
    }
  }

  .pay-step{
    .tabs-box{
      padding:0 0px;
    }
  }
  .custom-input-grid_2 .custom-input{
    width: 100%;
    &__input{
      border:1px solid #F0F0F0;
      &_textarea{
        border:1px solid #F0F0F0;
        height: 100px;
      }
    }
  }
  .pay-btn-wrap{
    width: 100%;
  }
  .fancybox-slide > div.popup{
    width:calc(100% - 60px);
    padding: 30px;
    height: auto;
    .fancybox-close-small{
      right: -40px;
      top: 0;
    }
  }
  .thx-popup__text{
    font-size: 12px;
  }
  .temp-article__indent{
    padding: 30px;
  }
  .my-title{
    font-size: 48px;
  }

  .side-grid__sidebar{
    padding-top: 40px;
  }
  .content-indent{
    margin-top: 25px;
  }
  .temp-article__image{
    height: 260px;
  }
  .news-item__image{
    height: 200px;
  }

  .news-item{
    height: 325px;
  }

  
  .news-page{
    position: relative;
    &_inside{
      padding-top: 420px;
    }
  }
  .article__main-image{
    position: absolute;
    left: 0;
    width: 100%;
    top: 20px;
  }

  .article-share__title{
    font-size: 16px;
  }
  .article-share{
    margin-top: 90px;
  }
  .article-image{
    height: 300px;
  }
  .vacancies-item__info{
    padding: 30px;
  }
  .contacts-cards{
    flex-direction: column;
    &__item{
      width: 100%;
      margin-right: 0;
    }
    &__item+&__item{
      margin-top: 25px;
    }
  }
  .contact-map #map{
    height: 430px;
  }

  .feedback{
    width: 100%;
    padding-top: 30px;
    .input-field{
      flex-direction: column;
      .custom-input{
        width: 100%;
        +.custom-input{
          padding-top: 20px;
        }
        &:nth-child(2n){
          margin-left: 0;
        }
      }
    }
  }
  .feedback-banner .custom-title span{
    max-width: 210px;
    padding-top: 25px;
    font-size: 14px;
  }
  .portfolio-grid__item{
    width: 50%;
  }

  .portfolio-filter{
    overflow: scroll;
    padding-bottom: 10px;
    a{
      min-width: 120px;
      font-size: 16px;
      line-height: 25px;
    }
  }


  .portfolio-grid{
    margin-top: 10px;
  }

  .home-page-top{
    flex-direction: column;
    align-items:flex-start;
  }

  .home-nav {
    margin-left: 0;
    margin-top: 20px;
  }
  .history-main-info{
    flex-wrap:wrap;
    justify-content:flex-start;
    &:before{
      right: 15px;
    }
    &:after{
      right: 20px;
    }
    &__number{
      font-size: 12px;
      order:1;
    }
    &__date{
      font-size: 12px;
      order: 2;
      padding-left: 20px;
    }
    &__title{
      order: 3;
      width: 100%;
      padding: 10px 0;
      font-size: 14px;
    }
    &__price{
      order: 4;
      font-size: 12px;
    }
    .show-detail{
      order: 5;
      padding-left: 20px;
      font-size: 12px;
    }
  }
  .result{
    .my-btn{
      font-size: 12px;
    }
  }
  .history-info__item{
    font-size: 12px;
  }

  .history-info__item p span:last-child{
    text-align: right;
    margin-left: auto;
  }
  .history-info__item p span{
    width: 50%;
  }
  .history-info__item p span:first-child{
    margin-right: 0;
  }
  .user-date{
    width: 100%;
    &__field{
      flex-direction: column;
    }
  }
  .user-date__field + .user-date__field{
    margin-top: 35px;
  }
  .user-date__field .user-date-item{
    width: 100%;
    +.user-date-item{
      margin-top: 35px;
    }
  }


}

@media screen and (max-width: 479px) {
  .container {
    width: 100%;
    padding:0 30px;
  }
  .mob-sub-menu__list li + li{
    margin-left: 10px;
  }
  .mob-sub-menu__link{
    font-size: 12px;
  }
  .catalog-top-info__title{
    font-size: 42px;
    line-height: 40px;
  }
  .category-grid__item.main .category-grid__img{
    height: 250px;
  }
  .category-grid__item.main .category-grid__one{
    height: 300px;
  }
  .category-grid__item.main .category-grid__img {
    height: 250px;
    padding-top: 15px;
  }

  .category-grid__item{
    width: 100%;
  }
  .custom-title{
    font-size: 42px;
    line-height: 38px;
  }
  .price-banner__box{
    padding: 30px;
  }
  .reviews-section__content{
    padding: 30px;
  }
  .user-info__name{
    font-size: 16px;
    padding-left: 10px;
  }
  .text-block{
    font-size: 14px;
    line-height: 20px;
  }

  .rev-item__text-block{
    padding-top: 20px;
  }

  .equipment-item__name{
    height: auto;
  }
  .slick-dots{
    bottom:- 15px;
  }
  .slick-dotted.slick-slider{
    margin-bottom: 0;
  }

  .detail-info__item{
    padding: 15px;
  }

  .custom-link a{
    font-size: 14px;
  }
  .detail-info__custom-link{
    left: 0px;
    bottom: 0px;
    position: relative;
    margin-top: 20px;
  }
  .footer-top__menu-list li a {
    font-size: 14px;
    line-height: 35px;
  }
  .footer-nav__list{
    &:nth-child(4){
      display: none;
    }
  }
  .calculator-nav-tab li{
    width: 50%;
    a{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .calculator-nav-tab{
    display: flex;
  }

  .checkbox-list_3 .custom-checkbox{
    width: 50%;
  }
  .check-side__content{
    padding: 30px;
  }
  .check-side__value{
    font-size: 12px;
    line-height: 20px;
  }
  .check-side__item{
    padding: 15px 0;
  }
  .check-side__value .check-value .check-price{
    font-size: 26px;
  }
  .catalog-top-info__title {
    font-size: 39px;
    line-height: 30px;
  }

  .catalog-top-info__desc{
    font-size: 14px;
    line-height: 18px;
  }
  .category-grid{
    margin: 0;
    &:before{
      display: none;
    }
    &:after{
      display: none;
    }
  }
  .category-grid__item.main .category-grid__img{
    padding: 30px;
  }
  .category-grid__item.main .category-grid__one{
    height: auto;
    padding-bottom: 25px;
  }
  .category-grid__item{
    width: 50%;
  }
  .category-grid__one{
    font-size: 16px;
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-bottom: 15px;
  }
  .category-grid__name{
    flex:none;
  }
  .category-grid__img{
    height: 100px;
    padding: 30px;
    padding-bottom: 15px;
  }
  .category-grid__item{
    padding-left: 0;
    padding-right: 0;
    width: calc(50% - 10px);
  }
  .index-page__category-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .price-banner__text{
    font-size: 14px;
    line-height: 18px;
  }
  .index-page__catalog:before {
    top: 195px;
    height: 500px;
    margin-left: 475px;
  }


  .price-banner{
    margin-top: 10px;
  }
  .reviews-section .rev-item + .rev-item{
    margin-top: 60px;
  }


  .price-banner__box{
    height: auto;
  }


  .my-title{
    font-size: 32px;
    line-height: .9;
  }

  .equipment-info__content{
    padding-top: 20px;
  }
  .equipment-info__list-title{
    font-size: 14px;
  }

  .equipment-info__list ul li{
    font-size: 14px;
  }
  .equipment-info-item:first-child{
    padding-bottom: 45px;
  }
  .equipment-info{
    padding-bottom: 10px;
  }


  .detail-info__item{
    padding: 30px;
    margin-bottom: 15px;
  }
  .sub-title{
    font-size: 14px;
    line-height: 1;
  }
  .pay-info__tab-nav li + li{
    margin-left: 10px;
  }
  .detail-info{
    margin-top: 25px;
  }

  .calc-type a{
    font-size: 10px;
  }
  .calculator-nav-tab li a{
    font-size: 12px;
    line-height: 20px;
  }
  .custom-checkbox__text{
    margin-left: 5px;
  }
  .custom-checkbox_big .custom-checkbox__text{
    font-size: 14px;
  }
  .custom-checkbox__text{
    font-size: 12px;
  }
  .my-title.big{
    font-size: 38px;
  }
  .equipment-item__img{
    height: 150px;
  }

  .reason-box {
    padding: 30px;
    padding-bottom: 10px;
  }
  .category-grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  .equipment-item__name{
    font-size: 10px;
  }

  .steps-control__number{
    margin-top: 0;
  }
  .steps-control__bottom{
    margin-top: 20px;
    position: relative;
    &:before{
      content: '';
      @include center-absolute();
      width: 70%;
      height: 2px;
      background: #EFEFEF;
    }
  }
  .steps-control__number p{
    width: 44px;
    height: 44px;
    line-height: 44px;
    border:8px solid #ffffff;
    &:before{
      display: none;
    }
    &:after{
      left: 0;
      top: 0px;
      width: 100%;
      height: 100%;
      line-height: 28px;
    }
  }
  .steps-control{
    padding-bottom: 25px;
  }

  .upload-content{
    padding-top: 40px;
  }

  .upload-info__desc{
    font-size: 12px;
  }
  .upload-info__img{
    background: transparent url("../../img/svg/upload.svg") no-repeat center;
    background-size: 30px;
  }
  .upload-content__item:first-child{
    border-right:0;
  }
  .upload-content__item:last-child{
    position: relative;
    &:before{
      content: '';
      @include horizontal-absolute();
      top: 0;
      background: #EDEDED;
      height: 1px;
      width:calc(100% - 60px);
    }
  }
  .upload-wrap__link-input input{
    width: 100%;
  }
  .upload-wrap .dz-filename{
    font-size: 10px;
  }
  .upload-wrap .dz-size{
    font-size: 10px;
    margin-left: auto;
  }

  .upload-info{
    position: relative;
    top: 0;
    left: 0;
    padding-top: 10px;
  }
  .upload-wrap .dz-complete{
    margin:20px 0;
  }

  .upload-content__item:last-child{
    margin-top: 30px;
  }

  .upload-title{
    font-size: 16px;
    span{
      font-size: 12px;
      padding-top: 10px;
    }
  }
  .delivery-nav li{
    width: 33.3333%;
  }

  .delivery-nav li a{
    font-size: 10px;
    line-height: 18px;
    height: 45px;
    display: flex;
    align-items: center;
  }
  .delivery-nav{
    display: flex;
  }
  .pay-step .text-block{
    padding: 0;
  }
  .custom-file-input__wrap{
    flex-direction: column;
    align-items:flex-start;
  }
  .upload-file__info{
    margin-left:0;
    margin-top: 15px;
  }
  .check-side__title span{
    font-size: 12px;
  }
  .control-btn a{
    font-size: 12px;
  }
  .tech-req a{
    font-size: 14px;
  }
  .steps .check-side{
    margin-top: 15px;
  }





  .pay-information-box__item{
    padding: 30px;
  }





  .custom-list__title{
    font-size: 14px;
    line-height: 20px;
  }
  .custom-list ul li{
    font-size: 12px;
    padding-left: 20px;
  }

  .pay-information-box__text{
    font-size: 14px;
    line-height: 1.3;
    padding-left: 10px;
  }
  .pay-information-box__title{
    align-items:flex-start;
  }
  body{
    font-size: 14px;
  }
  .instruction p{
    font-size: 14px;
  }

  .temp-article__image{
    height: 230px;
  }
  .news-item__title{
    font-size: 14px;
  }
  .news-item__text p{
    font-size: 12px;
    line-height: 14px;
  }
  .news-item__image{
    height: 160px;
  }

  .news-item{
    height: 250px;
  }
  .article__main-image{
    height: 300px;
  }

  .news-page{
    &_inside{
      padding-top: 310px;
    }
  }
  .share-soc a{
    width: 30px;
    height: 30px;
    img{
      width: 13px;
      height: 13px;
    }
  }
  .share-soc{
    padding-top: 10px;
  }
  .vacancies-item__desc{
    padding-bottom: 0;
    font-size: 12px;
    line-height: 18px;
  }
  .vacancies-item__img{
    width: 80px;
    height: 100px;
  }

  .vacancies-item__title{
    padding-left: 70px;
  }

  .vacancies-item{
    .my-btn-wrap{
      padding-left: 70px;
      margin-bottom: 25px;
      .my-btn{
        font-size: 12px;
        height: 35px;
        line-height: 35px;
      }
    }
  }
  .mobile-table-item__title{
    font-size: 14px;
  }
  .mobile-table-item__one{
    font-size: 12px;
  }

  .feedback .custom-input__input{
    font-size: 14px;
  }
  .delivery-page__image{
    height: 300px;
  }
  .user-date-item__value input{
    font-size: 16px;
  }
  .user-date-item__title{
    font-size: 12px;
    padding-bottom: 5px;
  }


  .user-date__field + .user-date__field{
    margin-top: 20px;
  }
  .user-date__field .user-date-item{
    width: 100%;
    +.user-date-item{
      margin-top: 20px;
    }
  }
  .add-info a{
    font-size: 12px;
    display: block;
    margin-right: 0px;
    border-bottom: none;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
      border-bottom:none;
    }
  }
  .add-info{
    display: block;
  }

  .address-data{
    padding-top: 30px;
  }
  .add-info a + a {
    margin-left: 0;
    margin-top: 10px;
    margin-right: 0;
  }

  .delete a{
    font-size: 12px;
  }



  .user-info-save{
    width: 100%;
    .my-btn{
      width: 100%;
      font-size: 14px;
    }
  }
  .popup{
    .custom-input label:before{
      font-size: 14px;
    }
    .custom-input__input{
      height: 45px;
      line-height: 45px;
    }
  }
  .price-banner__box{
    min-height: auto;
  }
  .catalog-img{
    right: -490px;
    top: 100px;
  }

  .category-grid__item{
    height: 100%;
  }
}
