/*-- Абсолютное позиционирование  по центру*/
@mixin horizontal-absolute {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
@mixin vertical-absolute {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin cancel-absolute {
  position: absolute;
  -ms-transform: translate(0%, 0%);
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  left: auto;
  right: auto;
  top: auto;
  bottom: auto;
}
/*----------------------------------------*/
@mixin placeholder {
 &::-webkit-input-placeholder {@content}
 &:-moz-placeholder           {@content}
 &::-moz-placeholder          {@content}
 &:-ms-input-placeholder      {@content}
}


