/* reset */
$min-width: 310px;
$max-width: 1170px;
$base-bg: #FFF;
$base-font-size: 13px;
$base-line-height: 1.2;
$base-font-family: 'Lato-Regular';
$bold: 'Lato-Bold';
$light: 'Lato-Light';
$black: 'Lato-Black';
$medium: 'Lato-Medium';
$rodchenko: 'Rodchenko-Condensed';
$rodchenko-bold: 'Rodchenko-CondensedBold';
$orange: #f29611;
$text-color: #575756;
$default-transition:all 0.2s linear;
