.tabs-nav {
    list-style: none;
    position: relative;
    padding-bottom: 0;
}

.tabs li{
}
.tabs li a{
    cursor: pointer;
}
.tabs li.active {
    z-index:3;
}
.tabs-box > div {
    display: none;
    box-sizing: border-box;
}
.tabs-box > .active {
    display: block;
}