<div class="tabs js-tabs-container">
    <ul class="tabs-nav main-tabs js-tabs-nav">

        <li class=" js-tab-item active">
            <a class="">Главная вкладка1</a>
        </li>
        <li class="js-tab-item">
            <a class="">Главная вкладка2</a>
        </li>
        <li class="js-tab-item">
            <a class="">Главная вкладка3</a>
        </li>

    </ul>
    <div class="tabs-box js-tabs-box">

        <div class="active">
            1
        </div>

        <div class="">
            2
        </div>

        <div class="">
            3
        </div>

    </div>
</div>
